<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petar.pptxplugins">

    <application
        android:label="PPTXPlugins"
        android:supportsRtl="true">
        <receiver android:name="com.petar.pptxplugins.PPTXReceiver" >
            <intent-filter>
                <action android:name="com.petar.pptx.IntentToUnity" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
